body{
    background-color: rgb(65, 223, 255);
}

.kk{
    background-color: rgb(18, 135, 238);
}

img{
    height: 280px;
}

p{
    font-size: 20px;
    text-align: center;
    padding: 50px;
    background-color: blue;
}